public/themes/Blog/public/footer.html
<footer class="bg-dark" id="footer-navbar"><aside class="d-none"></aside><div class="container p-5"><div class="row"><div class="col-12 pb-5"><navigation class="row justify-content-center" nav-id="2" root="div" id="" max-level="1"><php>$menu_item = $level > 1 ? 'dropdown-menu-item' : 'col-auto';
$dropdown_link = $level > 1 ? 'dropdown-item' : 'text-white-50';</php><navigationMenu class="{$menu_item}" root="div"><a class="{$dropdown_link}" href="{$menu.href|default=''}" target="{$menu.target|default=''}"><i class="fa mr-1 {$menu.icon|default='fa-book'}"></i><span>{$menu.name|default=''}</span></a></navigationMenu><navigationFolder class="nav-item dropdown" root="li" dropdown="ul" dropdown-class="dropdown-menu"><a class="nav-link dropdown-toggle dropdown-toggle-{$level}" href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><i class="fa mr-1 {$menu.icon|default='fa-book'}"></i><span>{$menu.name}</span></a></navigationFolder></navigation></div></div><div class="row justify-content-center text-white-50"><div class="col-auto">{$site_info.site_name|default=''} Copyright © 2019</div><div class="col-auto"><a class="text-white-50" href="http://www.beian.miit.gov.cn">{$site_info.site_icp|default=''}</a></div><div class="col-auto"></div></div></div></footer>

public/themes/Blog/public/footer.pug
footer.bg-dark#footer-navbar
    aside.d-none
    .container.p-5
        .row
            .col-12.pb-5
                navigation(nav-id="2" root='div' class="row justify-content-center" id="" max-level="1")
                    php.
                        $menu_item = $level > 1 ? 'dropdown-menu-item' : 'col-auto';
                        $dropdown_link = $level > 1 ? 'dropdown-item' : 'text-white-50';
                    navigationMenu(root="div" class="{$menu_item}")
                        a(class="{$dropdown_link}" href="{$menu.href|default=''}" target="{$menu.target|default=''}")
                            i.fa.mr-1(class="{$menu.icon|default='fa-book'}")
                            span {$menu.name|default=''}
                    navigationFolder(root="li" class="nav-item dropdown" dropdown="ul" dropdown-class="dropdown-menu")
                        a(href="#" class="nav-link dropdown-toggle dropdown-toggle-{$level}" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false")
                            i.fa.mr-1(class="{$menu.icon|default='fa-book'}")
                            span {$menu.name}
        .row.justify-content-center.text-white-50
            .col-auto {$site_info.site_name|default=''} Copyright © 2019
            .col-auto
                a.text-white-50(href="http://www.beian.miit.gov.cn") {$site_info.site_icp|default=''}
            .col-auto
