public/themes/Blog/portal/article.html
<extend name="public@base"/><block name="seo_head"><title>{$article.post_title}-{$site_info.site_name}</title><meta name="keywords" content="{$article.post_keywords|default=''}"/><meta name="description" content="{$article.post_excerpt|default=''}"/></block><block name="main"><div class="container"><div class="row"><article class="col-12"><header class="h1">{$article.post_title}</header><section><div class="row"><div class="col-auto"><span>阅读量：</span><span>{$article.post_hits}</span></div><div class="col-auto"><span>发布时间：</span><span>{:date('Y-m-d',$article.published_time)}</span></div></div></section><article id="content">{$article.post_content}</article></article></div></div></block>

public/themes/Blog/portal/article.pug
| <extend name="public@base"/>
block(name="seo_head")
    title {$article.post_title}-{$site_info.site_name}
    meta(name="keywords" content="{$article.post_keywords|default=''}")
    meta(name="description" content="{$article.post_excerpt|default=''}")
block(name="main")
    .container
        .row
            article.col-12
                header.h1 {$article.post_title}
                section
                    .row
                        .col-auto
                            span 阅读量：
                            span {$article.post_hits}
                        .col-auto
                            span 发布时间：
                            span {:date('Y-m-d',$article.published_time)}
                article#content {$article.post_content}
